<!--A partial to render a single user.-->
<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <!--Web browsers can’t send DELETE requests natively, so Rails fakes them with JavaScript.-->
  <!--This means that the delete links won’t work if the user has JavaScript disabled.-->
  <!--If you must support non-JavaScript-enabled browsers you can fake a DELETE request using a form and a POST request, -->
  <!--which works even without JavaScript.-->
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</li>